$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Door: "\e923";
$icon-buble: "\e920";
$icon-check: "\e921";
$icon-edit: "\e922";
$icon-checklist: "\e91a";
$icon-close: "\e91e";
$icon-webcam: "\e91f";
$icon-return: "\e91b";
$icon-write: "\e91c";
$icon-star: "\e91d";
$icon-angle-down: "\e900";
$icon-angle-left: "\e901";
$icon-angle-right: "\e902";
$icon-bag: "\e903";
$icon-bell: "\e904";
$icon-calendar: "\e905";
$icon-car: "\e906";
$icon-cash: "\e907";
$icon-chair: "\e908";
$icon-chart: "\e909";
$icon-chat: "\e90a";
$icon-clock: "\e90b";
$icon-date: "\e90c";
$icon-folder: "\e90d";
$icon-hat: "\e90e";
$icon-help: "\e90f";
$icon-lock: "\e910";
$icon-message-off: "\e911";
$icon-message-on: "\e912";
$icon-phone: "\e913";
$icon-services-1: "\e914";
$icon-services-2: "\e915";
$icon-services-3: "\e916";
$icon-services-4: "\e917";
$icon-settings: "\e918";
$icon-user: "\e919";

